.wrapper
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    .tableEditForm
        width: 75%
        display: flex
        justify-content: space-between
        .error
            color: red
    .table
        width: 75%
        margin-top: 50px    