.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .titleEditForm {
  font-size: 25px;
  margin: 15px 0;
}
.wrapper .tableEditForm {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .error {
  margin-top: 10px;
  height: 25px;
  color: #f00;
  font-size: 20px;
}
.wrapper .table {
  width: 75%;
  margin-top: 20px;
}
